<div>
    <h2>Cart:</h2>
    {% if request.cart|length %}
    <table border="0" cellspacing="5" cellpadding="5">
        {% for cart_item in request.cart %}
            <tr>
                <td>
                    <a href="{{cart_item.product.get_absolute_url}}">{{cart_item.product}}</a>
                </td>
                <td>{{cart_item.quantity}}</td>
                <td>{{cart_item.price_total}}</td>
                <td>
                    <form action="{% url PlugshopCart %}" method="post">{% csrf_token %}
                        <p>
                            <input type="hidden" name="product" value="{{cart_item.product.pk}}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="_action" value="add">
                            <input type="submit" value="+">
                        </p>
                    </form>
                    <form action="{% url PlugshopCart %}" method="post">{% csrf_token %}
                        <p>
                            <input type="hidden" name="product" value="{{cart_item.product.pk}}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="_action" value="remove">
                            <input type="submit" value="-">
                        </p>
                    </form>
                    <form action="{% url PlugshopCart %}" method="post">{% csrf_token %}
                        <p>
                            <input type="hidden" name="product" value="{{cart_item.product.pk}}">
                            <input type="hidden" name="_action" value="remove_product">
                            <input type="submit" value="x">
                        </p>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>